@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local("Open Sans Regular"),
		local("OpenSans-Regular"),
		url("/fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/open-sans-v17-latin-regular.woff") format("woff"); /* Modern Browsers */
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		local("Open Sans Bold"),
		local("OpenSans-Bold"),
		url("/fonts/open-sans-v17-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("/fonts/open-sans-v17-latin-700.woff") format("woff"); /* Modern Browsers */
}

:root {
	--clr-neutral-400: hsl(252, 2%, 41%);
	--clr-neutral-900: hsl(238, 92%, 5%);

	--clr-green-400: hsl(68, 70%, 55%);
	--clr-blue-400: hsl(200, 64%, 85%);
	--clr-blue-400-tr: hsla(200, 64%, 85%, 0.5);
	--clr-blue-500: hsl(199, 64%, 92%);
	--clr-blue-500-tr: hsla(199, 64%, 92%, 0.6);
	--clr-blue-700: hsl(200, 63%, 47%);
	--clr-black-800: hsl(180, 14%, 1%);

	--clr-white-rgba-80: rgba(255, 255, 255, 0.8);

	--clr-body: var(--clr-neutral-400);
	--clr-heading: var(--clr-neutral-900);
	--clr-accent-400: var(--clr-green-400);

	--ff-base: "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--ff-regular: 400;
	--ff-semi-bold: 700;
	--ff-bold: 900;
}

// media queries in sass to make them DRY, media queries don't work with CSS root variables
$width-small: 480px;
$width-medium: 768px;
$width-medium2: 960px;
$width-large: 1440px;
$width-xlarge: 1280px;
$width-xxlarge: 1700px;
$width-xxlarge2: 1920px;
$width-xxlarge3: 2560px;
$width-xxlarge4: 3840px;
$width-xxlarge5: 5120px;
$width-xxlarge6: 7680px;

/* Reset 
https://piccalil.li/blog/a-more-modern-css-reset/
*/

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	color: var(--clr-heading);
	font-weight: var(--ff-bold);
	text-wrap: balance;
}

p,
li {
	text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}
/* end reset ^ */

/* GLOBALS */

html {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: #c3d9e6;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 62.5%;
}

body {
	color: var(--clr-body);
	// background-color: var(--clr-green-400);
	font-family: var(--ff-base);
	font-weight: var(--ff-regular);
	font-size: 1.6rem;
	height: 100%;
	min-height: 100vh;
	line-height: 1.6;
	margin: 0;
}

.nav-top {
	background-color: var(--clr-blue-500-tr);
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
	padding-right: 1rem;
	width: auto;
	position: fixed;
	top: 2rem;
	left: 0;
	z-index: 3;

	ul {
		border-top-right-radius: 14px;
		border-bottom-right-radius: 14px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
	}

	a {
		display: block;
		padding: 1rem;

		@media (min-width: $width-medium) {
			padding: 1rem 2.4rem 1rem;
		}
	}

	li.active a {
		font-weight: var(--ff-bold);
		background-color: var(--clr-blue-500-tr);
		backdrop-filter: blur(16px) saturate(180%);
		-webkit-backdrop-filter: blur(16px) saturate(180%);
		box-shadow: 0 4px 0px rgba(255, 255, 255, 0.48);
		border-radius: 1rem 4rem 4rem 4rem;
		border: 1px solid black;
		border-radius: 1rem 4rem 4rem 4rem;
	}

	.nav-dslogo {
		display: block;
		width: 8rem;
		padding-top: 0.5rem;

		@media (min-width: $width-large) {
			width: 10rem;
		}
	}
}

.coreContainer {
	height: 100vh;
	overflow: hidden;

	&.page {
		display: flex;
		background-color: var(--clr-green-400);

		@media (min-width: $width-medium) {
			justify-content: center;
			height: 100vh;
		}

		.main {
			max-width: 200ch;
		}

		p {
			max-width: 100ch;
		}

		.bio {
			p {
				@media only screen and (min-width: $width-medium) {
					font-size: 2rem;
					padding-left: 26rem;
				}
				@media only screen and (min-width: $width-xxlarge2) {
					font-size: 2.4rem;
				}
			}
		}

		&.about {
			height: 100vh;
			overflow: hidden;
		}

		&.cv {
			height: 100vh;
			overflow: visible;

			.nav-top {
				z-index: 2;
			}
			.main {
				border: 20px solid var(--clr-blue-400-tr);
				border-radius: 14px;
				max-width: 100ch;
				margin-top: 4rem;
				margin-left: 2rem;
				margin-right: 2rem;
				margin-bottom: 10rem;
				padding: 0;
				padding-bottom: 8rem;
				z-index: 1;

				@media only screen and (min-width: $width-medium) {
					margin-left: 14rem;
					margin-bottom: 16rem;
				}
				@media only screen and (min-width: $width-xlarge) {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}

		.arrow {
			display: none;
			@media only screen and (min-width: $width-xxlarge2) {
				display: block;
			}
		}
	}
}

.image-bg {
	background-image: url("/images/flowers-s.png");
	background-size: 40%;
	background-repeat: repeat-x;
	background-position-y: bottom;
	background-color: transparent;

	@media (min-width: $width-medium) {
		background-image: url("/images/flowers3.png");
		background-repeat: repeat-x;
		background-size: 70%;
		background-position-y: bottom;
		background-color: transparent;
	}
}

.visually-hidden {
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.visible {
	visibility: visible !important;
}

.bold {
	font-weight: var(--ff-bold);
}

ul,
ol {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
}

a {
	color: #2c91c3;
	text-decoration: none;
}

a:visited {
	color: #2c91c3;
}

a:hover {
	color: #011b35;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

.hidden {
	display: none;
}

.print-only {
	display: none;
}

/* Hero */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0;
	height: 100vh;
	z-index: 200;
	position: relative;
	top: -6rem;

	@media (min-width: $width-large) {
		flex-direction: row;
		gap: 4rem;
		// left: 6rem;
		width: auto;
		transform: translate3d(24%, 0, 0);
	}

	// &.sliding {
	// 	justify-content: flex-start;
	// 	@media (min-width: 1024px) {
	// 		justify-content: center;
	// 		transform: translate3d(600px, 0, 0);
	// 	}
	// }
}

.hero-dslogo {
	visibility: hidden;
	display: block;
	width: 220px;

	@media (min-width: $width-large) {
		width: 260px;
	}

	@media (min-width: $width-xxlarge) {
		width: 320px;
	}

	// &.resize {
	// 	width: 100px;
	// 	margin: 1rem 2rem 0 0;

	// 	@media (min-width: 960px) {
	// 		margin: 2rem 2rem 0 0;
	// 		width: 120px;
	// 	}

	// 	@media (min-width: 1024px) {
	// 		width: 160px;
	// 	}

	// }
}

.hero-intro {
	visibility: hidden;
	border-radius: 1rem 8rem 8rem 8rem;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width: 400px;
	font-size: 2.4rem;
	font-weight: normal;
	text-align: center;

	@media (min-width: $width-large) {
		background: hsl(48, 29%, 97%);
		border: 2px solid hsl(88, 92%, 24%);
		padding: 2rem 4rem 2rem 4rem;
		width: 18rem;
	}

	@media (min-width: $width-xlarge) {
		width: 32rem;
	}

	&.hidden {
		opacity: 0;
		height: 0;
		width: 0;
	}
}

/* // hide text until typescript font is present */
/* .wf-loading .branding-intro {
	font-family: "facitweb", tahoma, sans-serif;
	visibility: hidden;
}
.wf-active .branding-intro {
	visibility: visible;
} */

/* GRID */

.grid-core {
	display: grid;
	grid-template-columns: auto;

	@media (min-width: $width-small) {
		justify-content: center;
	}

	@media (min-width: $width-xxlarge) {
		// grid-template-columns: 18vw 21vw 30vw 6vw 21vw 30vw;
	}

	.hero {
		@media (min-width: 480px) {
			grid-column: 1/6;
			grid-row: 1/2;
		}

		@media (min-width: 760px) {
			grid-column: 3/5;
		}

		&.sliding {
			grid-column: 5/6;
		}
	}

	.arrow {
		display: none;

		@media (min-width: 1024px) {
			display: block;
			grid-column: 4/6;
			grid-row: 1/2;
		}
	}

	.bio {
		grid-column: 2/6;
		grid-row: 1/2;
	}

	.stories {
		grid-column: 2/6;
		grid-row: 1/2;
	}
}

.flexi {
	display: flex;
	justify-content: center;
	align-items: center;
}

.test {
	color: black;
}

/* ANIMATION */
// ojo add var for all colors

body:has(.hero) {
	@media (max-width: $width-large) {
		background-color: #c7dd3b;
	}
}

@media (min-width: $width-large) {
	/* animate letters */

	.animate .hero-dslogo .path {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: stroke_fill 6s linear forwards;
		animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
	}

	/* animate initial letters. */
	@keyframes stroke_fill {
		from {
			fill: transparent;
			stroke-dashoffset: 1000;
		}
		30% {
			fill: transparent;
			stroke-dashoffset: 0;
		}
		40% {
			fill: #030404;
			stroke-dashoffset: 0;
		}
		to {
			fill: #030404;
			stroke-dashoffset: 0;
		}
	}

	/* animate logo background -blue */
	.animate .hero-dslogo .path-bg {
		animation: bg_fill 6s linear forwards;
		animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
	}

	@keyframes bg_fill {
		from {
			fill: transparent;
		}
		38% {
			fill: transparent;
		}
		42% {
			fill: #c0e1f1;
		}
		to {
			fill: #c0e1f1;
		}
	}

	/* animate logo outer border */
	.animate .hero-dslogo .path-border {
		animation: border_fill 6s linear forwards;
		animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
	}

	@keyframes border_fill {
		from {
			fill: transparent;
		}
		38% {
			fill: transparent;
		}
		42% {
			fill: #030404;
		}
		to {
			fill: #030404;
		}
	}

	/* animate body background */
	body:has(.hero) {
		animation: bgContainer 5.6s cubic-bezier(0.5, 0, 0.5, 1) forwards;
	}

	@keyframes bgContainer {
		from {
			background-color: white;
		}
		38% {
			background-color: white;
		}
		45% {
			background-color: #c7dd3b;
		}
		to {
			background-color: #c7dd3b;
		}
	}

	/* animate logo size */
	.hero-dslogo {
		visibility: hidden;
	}

	.animate .hero-dslogo {
		animation: logosize 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
	}

	@media (min-width: $width-medium2) {
		@keyframes logosize {
			from {
				transform: scale(3);
			}
			80% {
				transform: scale(3);
			}
			90% {
				transform: scale(1.2);
			}
			to {
				transform: scale(1.2);
			}
		}
	}

	/* animate hero */
	// .animate .slide {
	// 	animation: movehero 0.6s linear forwards;
	// 	animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
	// }

	// @media (min-width: $width-medium2) {
	// 	@keyframes movehero {
	// 		from {
	// 			transform: translate3d(16%, 0, 0);
	// 		}
	// 		to {
	// 			transform: translate3d(3%, 0, 0);
	// 		}
	// 	}
	// }

	/* animate hero slide in */
	.hero.slide-in {
		animation: hero-slide-in 1.2s cubic-bezier(0.5, 0, 0.5, 1.2) forwards;
	}

	@keyframes hero-slide-in {
		from {
			transform: translate3d(24%, 0, 0);
		}
		to {
			transform: translate3d(0, 0, 0);
		}
	}

	/* animate intro */
	.hero-intro {
		visibility: hidden;
	}

	.animate .bounceText {
		animation: bounceintro 4s linear forwards;
		animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
	}

	@keyframes bounceintro {
		from {
			opacity: 0;
			transform: translate3d(0, 3000px, 0);
		}
		60% {
			opacity: 0;
			transform: translate3d(0, -20px, 0);
		}
		75% {
			opacity: 0;
			transform: translate3d(0, 10px, 0);
		}
		85% {
			opacity: 0;
			transform: translate3d(0, -30px, 0);
		}
		to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	.clip-animate {
		animation: reveal 4.2s linear forwards;
	}
	@keyframes reveal {
		from {
			opacity: 0;
			transform: translate3d(-120px, 0, 0);
		}
		60% {
			opacity: 0;
		}
		75% {
			opacity: 0;
		}
		85% {
			transform: translate3d(-20px, 0, 0);
		}
		to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}

	.blur-bg {
		// background: rgba(255,255,255,0.5);
		animation-name: blurIn;
		animation-duration: 5s;
		animation-fill-mode: forwards;
	}

	@keyframes blurIn {
		from {
			backdrop-filter: blur(30px);
		}
		5% {
			backdrop-filter: blur(28px);
		}
		15% {
			backdrop-filter: blur(24px);
		}
		30% {
			backdrop-filter: blur(20px);
		}
		45% {
			backdrop-filter: blur(16px);
		}
		60% {
			backdrop-filter: blur(10px);
		}
		75% {
			backdrop-filter: blur(8px);
		}
		90% {
			backdrop-filter: blur(4px);
		}
		to {
			backdrop-filter: blur(0px);
		}
	}
}

@media (min-width: $width-medium2) {
	.move-image-bg {
		animation: bgMove 5s linear;
	}

	@keyframes bgMove {
		from {
			background-position-y: 90rem;
		}
		to {
			background-position-y: bottom;
		}
	}
}

/* ARROW */

.arrow {
	-ms-touch-action: none;
	touch-action: none;
	transition:
		transform 0.4s ease-in-out,
		opacity 0.2s ease-in-out;
	z-index: 1;

	&:hover {
		cursor: pointer;

		.nav-link {
			opacity: 1;
		}
	}

	&.sliding {
		transform: translate3d(434px, 0, 0);
		pointer-events: none;
	}
}

.clipgroup {
	background-color: black;
}

.shadowboard,
.clipboard {
	position: absolute;
	top: 0;
	left: 0;
	right: -39%;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shadowboard {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.375s;
}

.clipboard {
	color: white;
	-webkit-clip-path: polygon(62% 0%, 100% 62%, 62% 100%, 0% 100%, 38% 62%, 0% 0%);
	clip-path: polygon(62% 0%, 100% 62%, 62% 100%, 0% 100%, 38% 62%, 0% 0%);
}

.arrow-content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #2c91c3;
	clip-path: polygon(62% 0%, 100% 62%, 62% 100%, 0% 100%, 38% 62%, 0% 0%);
	font-size: 2rem;
	position: relative;
	height: 100%;
	width: 19.5%;

	&:hover {
		color: salmon;
	}

	&.hidden {
		display: none;
	}

	&.is-home {
		justify-content: center;
	}

	p {
		position: relative;
		top: 10%;
		padding: 2rem;
		max-width: 168px;
		line-height: 1.4;
	}

	ul {
		position: relative;
		top: 10%;
		padding: 2rem;
		width: 168px;

		a {
			color: white;
		}
	}
}

.nav-link {
	color: white;
	opacity: 0;
	margin-top: 25%;
}

.lottie-container {
	display: none;
	width: 1280px;
	height: auto;
	position: absolute;
	top: -62rem;
	right: 0;

	@media (min-width: $width-large) {
		display: block;
	}
}

// BIO

.bio-header {
	grid-column: 2/3;
	grid-row: 1/2;
	height: 100%;
	display: flex;
	align-items: start;
	justify-content: start;
	margin: 0;
	padding: 0 2rem;
	opacity: 1;
	transition: all 0.4s cubic-bezier(0.5, 0, 0.5, 1);
	transition-property: transform, opacity;

	@media (min-width: $width-large) {
		padding: 0 0;
	}

	&.hidden {
		transform: translate3d(-360px, 0, 0px);
		opacity: 0;
		height: 0;
		width: 0;
	}

	h1 {
		font-size: 5rem;
		line-height: 1;

		@media (min-width: $width-large) {
			font-size: 7rem;
		}
	}
}

.bio {
	padding: 0;
	overflow-y: initial;

	@media (min-width: $width-medium2) {
		overflow-y: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			width: 0px;
			background: transparent;
		}
	}

	.bio-pic {
		display: inline-block;
		background-color: white;
		border-radius: 50%;
		width: 280px;
		height: 280px;
		margin: 0 2rem;
		position: relative;
		overflow: hidden;
		opacity: 0.3;
		shape-outside: circle();
		z-index: 3;
		transition: opacity 0.6s ease-in-out;

		@media (min-width: $width-small) {
			float: left;
			margin: 2rem 4rem 2rem 0;
		}

		@media (min-width: $width-medium) {
			width: 300px;
			height: 300px;
		}

		@media (min-width: $width-large) {
			width: 500px;
			height: 500px;
		}

		&:hover {
			opacity: 0.8;
		}

		img {
			width: 400px;
		}
	}

	.bio-content {
		position: relative;
		padding: 8rem 4rem 48rem;
		padding-bottom: 18rem;
		overflow-y: auto;
		max-height: 90vh;
		z-index: 2;

		@media (min-width: $width-medium) {
			padding-top: 2rem;
			padding-left: 16rem;
			padding-bottom: 2rem;
			animation: fade 3s linear forwards;
			animation-timing-function: ease-in;
		}

		@media (min-width: $width-large) {
			padding-right: 0;
		}

		h1 {
			font-size: clamp(5.6526rem, 5.4068rem + 1.2288cqi, 6.3592rem);
			margin-top: 2rem;
			margin-bottom: 3rem;
			padding-left: 0;

			@media (min-width: $width-medium) {
				margin-top: 2rem;
				padding-left: 26rem;
			}
		}

		@keyframes fade {
			from {
				opacity: 0;
			}
			60% {
				opacity: 0.6;
			}
			75% {
				opacity: 0.8;
			}
			to {
				opacity: 1;
			}
		}
	}
}

/* cv */
.cv {
	p,
	li {
		width: auto;
	}
	// @media only screen and (min-width: 768px) {
	// 	border: 8px solid #e3e3e3;
	// }
}

.main.is-cv {
	@media (min-width: $width-medium) {
		animation: fade 2s linear forwards;
		animation-timing-function: ease-in;
	}
}

.cv [role="main"] {
	background: #ffffff;
	height: auto;
	padding: 0;
	overflow: hidden;
}
.cv p {
	margin: 0 0 1em;
}
.cv .content {
	max-height: 120vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 1rem;
	padding-bottom: 50rem;

	@media (min-width: $width-medium) {
		padding-bottom: 0;
		max-height: 80vh;
	}

	@media (min-width: $width-medium2) {
		max-height: 70vh;
	}

	@media (min-width: $width-large) {
		max-height: 82vh;
	}
}
.cv h1 {
	font-size: 30.559px;
	font-size: 3rem;
	line-height: 1.049;
	font-weight: 300;
}
.cv h2 {
	font-size: 5.09em;
	font-weight: normal;
	padding: 37.774px 0 18.887px;
}
h2.title-cv {
	margin: 0;
	line-height: 1.1;
	margin-bottom: 18.887px;
}
.cv .top {
	padding: 6rem 0 2rem;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.cv .introbox {
	padding: 0;
	width: 100%;
	text-align: center;

	span,
	a {
		font-weight: bold;
	}
}
.cv .bodybox {
	padding: 0 5%;
}
.services.cv [role="main"] {
	float: none;
	margin: 0 auto;
	padding: 0 0 37.774px;
}
.cvitems dt {
	display: block;
	width: 100%;
}
.cvitems dd {
	margin: 0 0 1em;
	display: block;
	width: 100%;
}
.cv dd ul {
	list-style: disc;
	&.project-list {
		list-style: none;
	}
}
dl.cvitems dt {
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
}
h1.cvitems-general {
	text-transform: uppercase;
}
dl.cvitems-general h1 {
	margin-top: 0;
}
dl.cvitems dd {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 18.887px;
}
dl.cvitems dd:last-child {
	border-bottom: none;
}
dl.cvitems-general dd {
	border-bottom: none;
}
span.subitem,
span.subitem-b,
span.subitem-blink {
	color: #4d4d4d;
	display: block;
	font-size: 14px;
	padding: 0 0 0.2em;
}
span.subitem-ex {
	padding-bottom: 1em;
}
span.subitem-b {
	padding: 0.8em 0 0;
}
span.subitem-blink {
	padding-top: 0;
}
.cvitems-specific ul {
	list-style: none;
}
.cvitems-specific ul li {
	margin: 0.2em 0;
}

hr.cv-divider {
	background: url("/images/hr.png") no-repeat scroll 50% 0 / 40px 10px transparent;
	border-width: 0;
	display: block;
	height: 10px;
	margin: 2em 0 1.5em;
	padding: 0;
}

@media only screen and (min-width: $width-medium2) {
	/* cv */
	.cv h2 {
		width: 100%;
	}
	.cv [role="main"] {
		width: 100%;
	}
	dl.cvitems-general h1 {
		position: absolute;
		top: 0;
	}
	.cv dt {
		display: inline-table;
		width: 25%;
		line-height: 1.2;
		vertical-align: top;
	}
	.cv dd {
		margin: 0 0 1em;
		display: inline-table;
		width: 70%;
	}
	.cvitems dt {
		width: 23%;
		padding-right: 2%;
	}
	.cv .bodybox {
		padding: 0 5%;
	}
}

.project-date {
	display: block;
	margin-top: 16px;
	padding-top: 6px;
	border-top: 1px solid #7d7d72;
	text-transform: lowercase;
	font-weight: normal;
	font-size: 16px;
	color: #7d7d72;
	b {
		display: none;
	}
}

// NAV MOBILE

// .nav-mobile {
// 	background-color: transparent;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	width: auto;
// 	padding: 0;
// 	position: absolute;
// 	bottom: 0;
// 	z-index: 4;

// 	@media (min-width: $width-small) {
// 		display: none;
// 	}

// 	&.hidden {
// 		display: none;
// 	}

// 	a {
// 		color: black;
// 		display: block;
// 		padding: 2rem;

// 		&:hover {
// 			color: green;
// 		}
// 	}

// 	.nav-dslogo {
// 		width: 6rem;

// 		@media (min-width: $width-small) {
// 			width: 10rem;
// 		}
// 	}
// }
